.button_sign_up{
    border-radius: 8px;
    border: 1px solid var(--blue-600, #1570EF);
    background: var(--blue-600, #1570EF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    font-family: 'Inter', sans-serif;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: white;
}

.button_login{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color:  #667085;
    font-family: 'Inter', sans-serif;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}