.add_filter{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}
.filter{
    display: flex;
    width: 100%;
}

.section_filter{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 12px;
}

.search_new_filter{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}