@import '../global.module.css';

.section_header{
    display: flex;
    width: 94%;
    height: 80px;
    padding: 0px 32px 0px 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
}

.margin_left_40{
    margin-left: 40px;
}

.image_header{
    width: 142px;
    height: 20px;
    color: transparent;
}

.list_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.navigation_header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;

}

.buttons_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-right: 100px;
}

@media only screen and (max-width: 768px) {

}