
.avatar_landing_page{
    width: 50%;
    display: flex;
    margin: 48px 0px;
}

.button_landing_page{
    display: flex;
    width: 21vw;
    margin-top: 48px;
}

.button_avatar{
    display: flex;
    justify-content: end;
    width: 50%;
}

.cards_second_section{
    display: flex;
    padding: 80px 64px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 16px;
    width: 80%;
    margin: 0 auto;
}

.card_section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_avatar{
    display: flex;
    margin-right: 16px;
}

.image_first_section{
    display: flex;
    width: 50%;
}

.image_start{
    display: flex;
}

.image_star_third{
    display: flex;
}
.number_text_second_section{
    color: var(--blue-600, #1570EF);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
}


.landing_page{
    display: flex;
    width: 91%;
    padding: 64px 0px 96px 96px;
    gap: 32px;
    margin: 0 auto;
    background: var(--gray-50, #F9FAFB);

}

.section_text_landing_page{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.text_avatar{
    color: var(--gray-900, #101828);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.text_landing_page{
    color: var(--gray-500, #667085);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 31vw;
    margin-top: 24px;
}

.text_rating_landing_page{
    color: var(--gray-500, #667085);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    margin-top: 6px;
    margin-left: 2px;
}

.text_card_second_section{
    color: var(--gray-900, #101828);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.title_second_section{
    color: var(--gray-900, #101828);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
    margin: 0px 0px 20px 0px;
}

.title_third_section{
    color: var(--gray-900, #101828);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
    margin: 48px 0px 48px 0px;
}

.third_section_landing_page{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 96px;

}

.third_section_primary{
    display: flex;
    flex-direction: column;
    width: 52%;
}

.third_section_secondary{
    display: flex;
    width: 48%;
    padding-left: 48px;
}

.rating_landing_page{
    color: var(--gray-700, #344054);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    margin-left: 8px;
}

.section_avatar{
    display: flex;
}

.section_text_avatar{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.second_section_landing_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px 0px 96px 0px;
    background: var(--gray-50, #F9FAFB);

}

.subtext_avatar{
    color: var(--gray-500, #667085);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.subtitle_second_section{
    color: var(--gray-500, #667085);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}