
.dashboard{
    display: flex;
    flex-direction: column;
    padding: 60px 0px 90px 60px;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.section_filter{
    display: flex;
    width: 100%;
}

.section_table{
    display: flex;
    width: 100%; 
}

.loading_table{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}